<div class='nested-fields'>
  <div class="field large-4 columns">
    <%= f.label :subject_id, "Expertise" %>
    <%= f.select :subject_id, options_for_select(Subject.all.collect {|s| [s.subject_area.name + " - " + s.name, s.id]  }, f.object.subject_id) %>
    <%#= f.input :subject_id, as: :select, collection: Subject.all.collect {|s| [s.subject_area.name + " - " + s.name, s.id]  },
        selected: f.object.id, include_blank: false %>
  </div>
  <div class="field large-2 columns">
    <%= f.label :experience, "Years Experience" %>
    <%= f.number_field :experience %>
  </div>
  <div class="field large-6 columns">
    <%= f.label :comment, "Comments" %>
    <%= f.text_area :comment %>
  </div>
  <%= link_to_remove_association "remove expertise", f %>
</div>
