<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Position</th>
      <th>Avg Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.first_name %> <%= provider.last_name %></td>
        <td><%= provider.city %></td>
        <td><%= provider.state %></td>
        <td><%= provider.position %></td>
        <td><%= provider.average_rating %></td>
        <td><%= link_to 'Details', provider %></td>
        <td><%= link_to 'Edit', edit_provider_path(provider) %></td>
        <td><%= link_to 'Delete', provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
