<h2>Search Providers</h2>
<%= form_tag do %>
  <div class='row'>
    <div class='field large-2 columns left'>
      <%= label_tag :reviewer_ids, 'Worked With' %>
      <%= select_tag :reviewer_ids, options_for_select(Rating.all.collect {|x| [x.user.name, x.user.id]}, params[:reviewer_ids]), :multiple => true %>
    </div>
    <div class='field large-2 columns left'>
      <%= label_tag :rating, 'Avg Rating >=' %>
      <%= select_tag :rating, options_for_select([nil, 1, 2, 3, 4, 5], params[:rating]) %>
    </div>
    <div class='field large-2 columns left'>
      <%= label_tag :rate, 'Rate <=' %>
      <%= number_field_tag :rate, params[:rate] %>
    </div>
  </div>
  <div class='row'>
    <div class='field large-4 columns left'>
      <%= label_tag :subject_ids, 'Expertise Areas' %>
      <%= select_tag :subject_ids, options_for_select(Subject.all.collect {|x| [x.full_name, x.id]}, params[:subject_ids]), :multiple => true %>
    </div>
    <div class='field large-2 columns left'>
      <%= label_tag :years_experience, 'Years of Experience' %>
      <%= number_field_tag :years_experience, params[:years_experience] %>
    </div>
  </div>
  <div class='row'>
    <div class='field large-2 columns left'>
      <%= label_tag :degree_ids, 'Degree' %>
      <%= select_tag :degree_ids, options_for_select(Degree.all.collect {|x| [x.name, x.id]}, params[:degree_ids]), :multiple => true %>
    </div>
    <div class='field large-2 columns left'>
      <%= label_tag :major, 'Education Field' %>
      <%= text_field_tag :major, params[:major] %>
    </div>
    <div class='field large-2 columns left'>
      <%= label_tag :language_ids, 'Languages' %>
      <%= select_tag :language_ids, options_for_select(Language.all.collect {|x| [x.name, x.id]}, params[:language_ids]), :multiple => true %>
    </div>



  </div>
  <div class='row'>
    <div class='columns'>
    <%= submit_tag 'search' %>
  </div>
  </div>
<% end %>

<%= render 'list' %>
