<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.first_name %> <%= @provider.middle_initial unless @provider.middle_initial.nil?  %> <%= @provider.last_name %>
</p>

<fieldset>
  <legend>Average Rating: <%= @provider.average_rating %></legend>

  <% if @provider.ratings.size > 0 %>
  <table>
    <thead><tr>
      <th>Date</th><th>Reviewer</th><th>Rating</th><th>Comments</th>
    </tr></thead>
    <tbody>
    <% @provider.ratings.each do |rating| %>
    <tr>
      <td><%= rating.updated_at.strftime '%d-%m-%Y' %></td>
      <td><%= rating.user.name %></td>
      <td><%= rating.rating %></td>
      <td><%= rating.comments %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</fieldset>
<p>
  <strong>Hourly Rate:</strong>
  <%= number_to_currency @provider.rate %>
</p>

<p>
  <strong>Current Position:</strong>
  <%= @provider.position %>
</p>

<p>
  <strong>Current Organization:</strong>
  <%= @provider.organization %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @provider.phone %>
</p>

<% if !@provider.cell.nil? %>
<p>
  <strong>Cell:</strong>
  <%= @provider.cell %>
</p>
<% end %>

<p>
  <strong>Address:</strong><br />
  <%= @provider.address1 %><br />
  <% if @provider.address2.length > 0 %><%= @provider.address2 %><br /><% end %>
  <%= @provider.city %>, <%= @provider.state %> <%= @provider.zip %>
</p>

<p>
  <strong>Years of Experience:</strong>
  <%= @provider.years_experience %>
</p>

<p>
  <strong>Languages</strong><br />
  <% @provider.languages.each do |lang| %>
    <%= lang.name %><br />
  <% end %>
</p>
<p>
  <strong>Education</strong><br />
  <% @provider.educations.each do |e| %>
  <%= e.degree.name %>, <%= e.major %><br />
  <% end %>
</p>
<p>
  <strong>Resume:</strong><br />
   <%= simple_format(@provider.resume) %>
</p>
<p>
  <strong>Expertise Profile:</strong><br />
  <table>
    <thead>
      <tr><th>Topic</th><th>Expertise</th><th>Years of Experience</th><th>Comments</th></tr>
    </thead>
    <tbody>
      <% @provider.expertises.each do |expertise| %>
        <tr>
          <td><%= expertise.subject.nil? ? "" : expertise.subject.subject_area.name %></td>
          <td><%= expertise.subject.nil? ? "" : expertise.subject.name %></td>
          <td><%= Expertise.EXPERIENCE[expertise.experience] %></td>
          <td><%= expertise.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
